<!doctype html>
	<head>
		<title>BC Boards Home</title>
	</head>
	<body>
		<h1> Welcome to the BC Boards!!</h1>
		<a href="<%= @linkedin_auth_url %>" class="linkedin-signin">Sign in with LinkedIn</a>
		<a href="/signup">Join Us</a>
		<a href="signin">Sign Up</a>
	</body>
</html>
