<h1>Our Story</h1> 

<p> 
Started by a bootcamper interested in finding an easier way to network with and meet fellow coding bootcampers and bootcamp alumni, the BC Boards were born. The BC boards is a social platform that allows users to connect with one another through joining coding groups and posting to forums ranging from current projects bootcampers are working on, to alumni discussions and meetups regarding entrepreneurship.
</p>